* {
  position: relative;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: repeat; }
  body.active {
    position: fixed;
    width: 100%;
    height: 100%; }

body, html {
  height: 100%;
  width: 100%;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "sans-serif"; }

main {
  /* flex: 1; would be enough but it looks bad in IE */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

:link,
:visited {
  text-decoration: none; }

abbr[title],
acronym[title],
dfn {
  cursor: help; }

img {
  font-style: italic; }

[disabled] {
  cursor: default; }

[aria-disabled="true"] {
  cursor: default;
  pointer-events: none; }

.no-js button[type="button"] {
  display: none; }

ul.noList {
  list-style: none;
  margin-left: 0; }

p {
  font-size: 1em; }
  p:only-child, p:last-of-type {
    margin-bottom: 0; }
  p.small {
    font-size: 0.71429em; }

a {
  font-weight: bold; }
  a img,
  a:link img,
  a:visited img {
    border: none; }

ul li {
  color: #444444; }

address {
  font-style: normal; }

q {
  font-style: italic; }

textarea {
  resize: none;
  height: 100px;
  -webkit-box-shadow: none;
  box-shadow: none; }

select {
  color: #cccccc;
  font-size: 1em;
  font-style: italic; }

label {
  color: #444444;
  display: inline-block; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input:not([type='checkbox']):not([type='radio']):not([type='button']),
textarea,
select {
  color: #444444;
  font-family: 'Gotham-Bold';
  font-size: 0.85714em;
  font-weight: 900;
  min-height: 40px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #c4c5c5;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  input:not([type='checkbox']):not([type='radio']):not([type='button'])::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #c4c5c5;
    font-family: "FontAwesome", "sans-serif";
    font-size: 13px;
    position: relative;
    padding: 0;
    top: 0px;
    -webkit-transition: all, 250ms, ease-in;
    -o-transition: all, 250ms, ease-in;
    transition: all, 250ms, ease-in;
    z-index: 10;
    line-height: normal;
    z-index: 10; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) {
      input:not([type='checkbox']):not([type='radio']):not([type='button'])::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder,
      select::-webkit-input-placeholder {
        padding-top: 0px;
        line-height: 12px; } }
  input:not([type='checkbox']):not([type='radio']):not([type='button']):-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    border: 1px solid #ccc;
    padding-left: 10px;
    color: #444444;
    font-family: "sans-serif" !important;
    font-size: 14px; }
  input:not([type='checkbox']):not([type='radio']):not([type='button']):focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder,
  select:focus::-webkit-input-placeholder {
    color: transparent; }

input:not([type='checkbox']):not([type='radio']):not([type='button']):focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #c4c5c5;
  box-shadow: 0 0 5px #c4c5c5;
  -webkit-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  border: none !important; }

.button {
  background-color: #8eb8ba;
  border: none;
  color: #ffffff;
  margin: 0;
  padding: 12px 15px;
  font-size: 0.92857em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: normal; }
  .button:hover, .button:focus {
    background-color: #6ea4a7; }
  .button.primary {
    background: #8eb8ba;
    border: #8eb8ba;
    color: #fcf8f4;
    text-decoration: none;
    font-size: 12px; }
    .button.primary:hover, .button.primary:focus {
      background: #6ea4a7;
      border: #6ea4a7;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.darkPrimary {
    background: #658c89;
    border: #658c89;
    color: #fcf8f4;
    text-decoration: none;
    font-size: 12px; }
    .button.darkPrimary:hover, .button.darkPrimary:focus {
      background: #506e6c;
      border: #506e6c;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.secondary {
    background: #ebc7ba;
    border: #ebc7ba;
    color: #697280;
    text-decoration: none;
    font-size: 12px; }
    .button.secondary:hover, .button.secondary:focus {
      background: #e0a792;
      border: #e0a792;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.facebook {
    background: #3b5998;
    border: #3b5998;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
    .button.facebook:hover, .button.facebook:focus {
      background: #2d4373;
      border: #2d4373;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.twitter {
    background: #55acee;
    border: #55acee;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
    .button.twitter:hover, .button.twitter:focus {
      background: #2795e9;
      border: #2795e9;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.instagram {
    background: #e1306c;
    border: #e1306c;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
    .button.instagram:hover, .button.instagram:focus {
      background: #c21c54;
      border: #c21c54;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.pinterest {
    background: #bd081c;
    border: #bd081c;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
    .button.pinterest:hover, .button.pinterest:focus {
      background: #8c0615;
      border: #8c0615;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.snapchat {
    background: #f8ec1e;
    border: #f8ec1e;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
    .button.snapchat:hover, .button.snapchat:focus {
      background: #dcd007;
      border: #dcd007;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .button.hollow.black {
    background-color: transparent;
    border: 1px solid #353536;
    color: #353536; }
    .button.hollow.black:hover, .button.hollow.black:focus {
      background-color: #353536;
      border: 1px solid #353536;
      color: #ffffff; }

.select-wrapper:before {
  content: '\f041';
  font-size: 16px;
  font-family: 'FontAwesome';
  position: absolute;
  left: 12px;
  top: 7px;
  color: #222222;
  z-index: 10; }

.select-wrapper select {
  padding-left: 34px; }

.full {
  width: 100%;
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.middleAll {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center; }

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.horizontal-center {
  position: absolute;
  left: 50%;
  top: auto;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%); }

.vertical-center {
  position: absolute;
  left: auto;
  top: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%); }

.control {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 0.85714em;
  padding-top: 3px;
  margin-left: 7px; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-bottom: 0; }
    .control input:disabled ~ .checky:after {
      border-color: #7b7b7b; }
  .control.radio .checky {
    border-radius: 50%; }
    .control.radio .checky:after {
      left: 6px;
      top: 6px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #ffffff; }
  .control .checky {
    position: absolute;
    top: -7px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border: 1px solid #cccccc; }
    .control .checky:after {
      content: '';
      position: absolute;
      display: none;
      left: 10px;
      top: 4px;
      width: 8px;
      height: 17px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .control:hover input ~ .checky {
    background: rgba(142, 184, 186, 0.3); }
  .control input:focus ~ .checky {
    background: #ffffff; }
  .control input:checked ~ .checky {
    background: #8eb8ba;
    border: 1px solid #8eb8ba; }
    .control input:checked ~ .checky:after {
      display: block; }
  .control:hover input:not([disabled]):checked ~ .checky {
    background: #6ea4a7; }
  .control input:checked:focus ~ .checky {
    background: #8eb8ba; }
  .control input:disabled ~ .checky {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none; }

.toggleSwitch {
  margin-top: 20px; }
  .toggleSwitch input[type="checkbox"].switch {
    position: absolute;
    opacity: 0; }
    .toggleSwitch input[type="checkbox"].switch + div {
      vertical-align: middle;
      width: 40px;
      height: 20px;
      border-radius: 999px;
      background-color: #8eb8ba;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-transition-property: background-color, -webkit-box-shadow;
      transition-property: background-color, -webkit-box-shadow;
      -o-transition-property: background-color, box-shadow;
      transition-property: background-color, box-shadow;
      transition-property: background-color, box-shadow, -webkit-box-shadow;
      cursor: pointer; }
      .toggleSwitch input[type="checkbox"].switch + div span {
        position: absolute;
        font-size: 1em;
        color: #ffffff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .toggleSwitch input[type="checkbox"].switch + div span:nth-child(1) {
          left: 15px; }
        .toggleSwitch input[type="checkbox"].switch + div span:nth-child(2) {
          right: 15px; }
    .toggleSwitch input[type="checkbox"].switch:checked + div {
      width: 80px;
      background-position: 0 0;
      background-color: #8eb8ba; }
    .toggleSwitch input[type="checkbox"].switch:checked + div {
      background-color: #ebc7ba; }
    .toggleSwitch input[type="checkbox"].switch:checked + div > div {
      -webkit-transform: translateY(-50%) translate3d(20px, 0, 0);
      transform: translateY(-50%) translate3d(20px, 0, 0);
      background-color: #ffffff; }
    .toggleSwitch input[type="checkbox"].switch + div {
      width: 80px;
      height: 40px; }
    .toggleSwitch input[type="checkbox"].switch + div > div {
      float: left;
      width: 35px;
      height: 35px;
      border-radius: inherit;
      background: #ffffff;
      -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
      -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
      transition-timing-function: cubic-bezier(1, 0, 0, 1);
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-property: background-color, -webkit-transform;
      transition-property: background-color, -webkit-transform;
      -o-transition-property: transform, background-color;
      transition-property: transform, background-color;
      transition-property: transform, background-color, -webkit-transform;
      pointer-events: none;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-left: 5px; }
  .toggleSwitch input[type="checkbox"].switch:checked + div > div {
    -webkit-transform: translateY(-50%) translate3d(35px, 0, 0);
    transform: translateY(-50%) translate3d(35px, 0, 0); }

.debug * {
  border: 1px solid red; }
