//button generators
@mixin button-bg($bg, $txt) {
	background: $bg;
	border: $bg;
	color: $txt;
	&:hover,
	&:focus {
		background:darken($bg,10%);
		border:darken($bg, 10%);
		transition: all 0.3s ease;
	}
}
//button generators
@mixin button-hollow($border, $txt) {
	background: transparent;
	border: 1px solid $border;
	color: $txt;
	&:hover,
	&:focus {
		border: 1px solid darken($border, 10%);
		transition: all 0.3s ease;
		color: darken($txt, 10%);
	}
}
.no-js button[type="button"] {
	display: none;
}
// buttons
.button,
input[type="button"],
input[type="submit"] {
	background-color: $primary;
	border: none;
	color: #ffffff;
	margin: 0;
	padding: 0 ($small-space * 3);
	font-size: $body-font-size;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
	height: $input-height;
	font-family: $body-font-family;
	@include breakpoint($small-only) {
		width: 100%;
	}
	// style focus & hover
	&:hover, &:focus {
		background-color: darken($primary, 10%);
		text-decoration: none;
		color: #ffffff;
	}
	&.primary {
		@include button-bg($primary, $primaryText);
		&.hollow {
			@include button-hollow($primary, $primary);
		}
	}
	&.secondary {
		@include button-bg($secondary, $secondaryText);
		&.hollow {
			@include button-hollow($secondary, $secondary);
		}
	}
	&.facebook {
		@include button-bg($facebook, #ffffff);
		&.hollow {
			@include button-hollow($facebook, $facebook);
		}
	}
	&.twitter {
		@include button-bg($twitter, #ffffff);
		&.hollow {
			@include button-hollow($twitter, $twitter);
		}
	}
	&.instagram {
		@include button-bg($instagram, #ffffff);
		&.hollow {
			@include button-hollow($instagram, $instagram);
		}
	}
	&.pinterest {
		@include button-bg($pinterest, #ffffff);
		&.hollow {
			@include button-hollow($pinterest, $pinterest);
		}
	}
	&.linkedin {
		@include button-bg($linkedin, #ffffff);
		&.hollow {
			@include button-hollow($linkedin, #ffffff);
		}
	}
	&.buffer {
		@include button-bg($buffer, #ffffff);
		&.hollow {
			@include button-hollow($buffer, #ffffff);
		}
	}
	&.email {
		@include button-bg($email, $body-font-color);
		&.hollow {
			@include button-hollow($email, $body-font-color);
		}
	}
	&.reddit {
		@include button-bg($reddit, #ffffff);
		&.hollow {
			@include button-hollow($reddit, #ffffff);
		}
	}
}
