//Rem Calc
@function rem-calc($font-size) {
	$rem-size: $font-size / 16;
	@return #{$rem-size}rem;
}
// ** import site specific styles after the rem math
@import '../site/config.scss';
// ** Deep Get
@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i))
		}
		@return map-fetch($value, $rest)
	} @else {
		@return $value;
	}
}
// ** Set the standard for the pseufo code block
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
// @include pseudo;
// ** Create all of the prefixes
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}
// @include input-placeholder {
//     color: $grey;
// }
// ** Create fades
@mixin fade($type) {
	@if $type == 'hide' {
		visibility: hidden;
		opacity: 0;
		transition: visibility 1s, opacity 1s;
	}
	@else if $type == 'show' {
		visibility: visible;
		opacity: 1;
		transition: visibility 1s, opacity 1s;
	}
}
// @include fade(hide)
// @include fade(show)
// ** Create Z index
@function z-index($key) {
	@return map-get($z-index, $key);
}
@mixin z-index($key) {
	z-index: z-index($key);
}
// @include z-index(navigation);
// ** Only allow an import of a file once
/// List storing names of imported modules
/// @type List
$imported-modules: () !default;
/// Make sure a file is imported only once.
/// @access public
/// @param {String} $name - Name of exported module
/// @require $imported-modules
@mixin exports($name) {
    @if not index($imported-modules, $name) {
        $imported-modules: append($imported-modules, $name) !global;
        @content;
    } @else {
        @warn 'Module `#{$name}` has already been imported.';
    }
}
// to use
// @include exports('custom') {  'custom file contents here' }
