// mixins to use
@import 'mixins';
// sizing
$small-space: 5px;
$medium-space: 20px;
$large-space: 40px;
$xlarge-space: 60px;
$hundred: ($large-space + $xlarge-space);
$input-height: $large-space;
$border-radius: 3px;
// Z index heirarchy
$z-index: (
	modal           : 200,
	navigation      : 100,
	footer          : 10,
	header         	: 50,
	main			: 10,
);
// shorthand
$primary: map-get($palette, primary);
$primaryText: map-get($palette, primaryText);
$secondary: map-get($palette, secondary);
$secondaryText: map-get($palette, secondaryText);
$light: map-get($palette, light-grey);
$border: darken($light, 5%);
// notifications
$success: map-get($palette, success);
$error: map-get($palette, error);
$warning: map-get($palette, warning);
// social
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #e1306c;
$pinterest: #bd081c;
$etsy: #d5641c;
$linkedin: #0077b5;
$buffer: #323b43;
$reddit: #ff4500;
$email: $primary;
//map networks
$config: (
	networks: (
		facebook: (
			colour: $facebook,
			text: #ffffff,
		),
		twitter: (
			colour: $twitter,
			text: #ffffff,
		),
		instagram: (
			colour: $instagram,
			text: #ffffff,
		),
		pinterest: (
			colour: $pinterest,
			text: #ffffff,
		),
		etsy: (
			colour: $etsy,
			text: #ffffff,
		),
		linkedin: (
			colour: $linkedin,
			text: #ffffff,
		),
		buffer: (
			colour: $buffer,
			text: #ffffff,
		),
		reddit: (
			colour: $reddit,
			text: #ffffff,
		),
		email: (
			colour: $primary,
			text: $body-font-color,
		)
	),
);
// anchor styles
$anchor-font-color: $primary;
