// Headline
@mixin heading {
	color: #000000;;
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-top: 0;
	margin-bottom: ($small-space * 3);
	line-height: normal;
	font-family: $header-font-family;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
@mixin h1 {
	@include heading;
	font-size: rem-calc(40);
	@include breakpoint($small-only) {
		font-size: rem-calc(30);
	}
}
@mixin h2 {
	@include heading;
	font-size: rem-calc(30);
	@include breakpoint($small-only) {
		font-size: rem-calc(18);
	}
}
@mixin h3 {
	@include heading;
	font-size: rem-calc(25);
	@include breakpoint($small-only) {
		font-size: rem-calc(16);
	}
}
@mixin h4 {
	@include heading;
	font-size: rem-calc(20);
	@include breakpoint($small-only) {
		font-size: rem-calc(16);
	}
}
@mixin h5 {
	@include heading;
	font-size: rem-calc(18);
	@include breakpoint($small-only) {
		font-size: rem-calc(14);
	}
}
@mixin h6 {
	@include heading;
	font-size: rem-calc(16);
	@include breakpoint($small-only) {
		font-size: rem-calc(14);
	}
}
// headlines
h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }
