# Canonical HTTPS/WWW
<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} ^www\.usecattlegrid\.com [NC]
	RewriteRule (.*) https://usecattlegrid.com/$1 [L,R=301]
</IfModule>
