<html>
      <head>
        <meta charset="UTF-8">
        <title>README.md</title>
      </head>
      <body>
        <p><img src="http://ceryni.com/cattle-grid/assets/images/logo-type-small.png" alt="Cattle Grid"></p>
<p>Extremely lightweight, basic flex grid built from a simple mixin</p>
<h2 id="demo">Demo</h2>
<p><a href="http://ceryni.com/cattle-grid/">Cattle Grid Example</a>   </p>
<h2 id="getting-started">Getting Started</h2>
<p>Cattle grid contains not only a very simple grid (only 5KB minified!) but a small suite of extra settings I&#39;ve collected over the years of doing Front End. Unlike most frameworks, this grid is easy to isolate and use on it&#39;s own - the rest is just for sheer aesthetics and laziness!</p>
<p>To isolate the grid, navigate to <a href="https://github.com/ceryni173/Cattle-Grid/blob/master/assets/scss/general/_grid.scss">grid.scss</a> and add this to your own project! Simple.</p>
<p>If you wish to use the entire project, the folder structure is very simple.</p>
<h4 id="general">General</h4>
<p>General contains all files needed to set up a new site, from colours, helpers, form elements and mixins</p>
<h4 id="specific">Specific</h4>
<p>Specific contains files related to the project you&#39;re about to build.</p>
<p><em>I use an autoprefixer on my scss!</em></p>
<hr>
<h3 id="defining-variables">Defining Variables</h3>
<pre><code>$grid-gutter-medium: 30px !default;
$grid-gutter-small: 20px !default;
$global-width: rem-calc(1200px);
$grid-max-width: $global-width + ($grid-gutter-medium * 2) !default;
$grid-columns: 12 !default;

$breakpoint-small: 767px !default;
$breakpoint-medium: 992px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1440px !default;
</code></pre><h3 id="using-breakpoint-mixin">Using Breakpoint Mixin</h3>
<pre><code>@mixin breakpoint($media) {
    @media #{$media} {
        @content;
    }
}
</code></pre><h3 id="using-grid-markup">Using Grid Markup</h3>
<pre><code>&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><hr>
<h2 id="extra-mixins-settings">Extra mixins &amp; Settings</h2>
<p>These are just tidbits that come in handy when starting out a new build!</p>
<h3 id="sizings">Sizings</h3>
<pre><code>$small-space: 5px;
$medium-space: 20px;
$large-space: 40px;
$xlarge-space: 60px;
$hundred: ($large-space + $xlarge-space);
$input-height: $large-space;
$border-radius: 3px;
</code></pre><h3 id="text-alignments">Text Alignments</h3>
<p>To be able to align text left, right or centrally within the markup, there are 4 classes available!</p>
<p><em>To use</em></p>
<pre><code>&lt;div class=&quot;small-text-center medium-text-right large-text-left xlarge-text-center&quot;&gt;Align me!&lt;/div&gt;
</code></pre><h3 id="atom-users-">Atom Users!</h3>
<p>If you use Atom - this handy snippet allows for easy autofill of sizes! Be a faster dev</p>
<pre><code>&#39;.source.css.scss&#39;:
  &#39;5px&#39;:
    &#39;prefix&#39;: &#39;5px&#39;
    &#39;body&#39;: &#39;$small-space&#39;;
  &#39;10px&#39;:
    &#39;prefix&#39;: &#39;10px&#39;
    &#39;body&#39;: &#39;($small-space * 2)&#39;;
  &#39;15px&#39;:
    &#39;prefix&#39;: &#39;15px&#39;
    &#39;body&#39;: &#39;($small-space * 3)&#39;;
  &#39;20px&#39;:
    &#39;prefix&#39;: &#39;20px&#39;
    &#39;body&#39;: &#39;$medium-space&#39;;
  &#39;25px&#39;:
    &#39;prefix&#39;: &#39;25px&#39;
    &#39;body&#39;: &#39;($small-space * 5)&#39;;
  &#39;30px&#39;:
    &#39;prefix&#39;: &#39;30px&#39;
    &#39;body&#39;: &#39;($xlarge-space / 2)&#39;;
  &#39;40px&#39;:
    &#39;prefix&#39;: &#39;40px&#39;
    &#39;body&#39;: &#39;$large-space&#39;;
  &#39;50px&#39;:
    &#39;prefix&#39;: &#39;50px&#39;
    &#39;body&#39;: &#39;($small-space * 10)&#39;;
  &#39;60px&#39;:
    &#39;prefix&#39;: &#39;60px&#39;
    &#39;body&#39;: &#39;$xlarge-space&#39;;
</code></pre><h3 id="crayola">Crayola</h3>
<pre><code>$palette: (
    primary: #8eb8ba,
    primaryText: #fcf8f4,
    secondary: #ebc7ba,
    secondaryText: #697280,
    success: #c9e4bf,
    error: #d38a8a,
    alert: #d38a8a,
    warning: #d29075,
    light-grey: #c4c5c5
);

// shorthand
$primary: map-get($palette, primary);
$primaryText: map-get($palette, primaryText);
$secondary: map-get($palette, secondary);
$secondaryText: map-get($palette, secondaryText);
$light: map-get($palette, light-grey);
</code></pre><p><em>To use</em></p>
<pre><code>background-color: $primary;
color: $primaryText;
</code></pre><h3 id="buttons">Buttons</h3>
<pre><code>@mixin button-bg($bg, $txt) {
    background: $bg;
    border: $bg;
    color: $txt;
    &amp;:hover,
    &amp;:focus {
        background:darken($bg,10%);
        border:darken($bg, 10%);
        transition: all 0.3s ease;
    }
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include button-bg(#000000, #ffffff);
</code></pre><h3 id="hollow-buttons">Hollow Buttons</h3>
<pre><code>@mixin button-hollow($border, $txt) {
    background: transparent;
    border: 1px solid $border;
    color: $txt;
    &amp;:hover,
    &amp;:focus {
        border: 1px solid darken($border, 10%);
        transition: all 0.3s ease;
        color: darken($txt, 10%);
    }
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include button-hollow(#000000, #000000);
</code></pre><h3 id="pseudos">Pseudos</h3>
<pre><code>@mixin pseudo($display: block, $pos: absolute, $content: &#39;&#39;){
    content: $content;
    display: $display;
    position: $pos;
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include pseudo;
</code></pre><h3 id="placeholders">Placeholders</h3>
<pre><code>@mixin input-placeholder {
    &amp;.placeholder { @content; }
    &amp;:-moz-placeholder { @content; }
    &amp;::-moz-placeholder { @content; }
    &amp;:-ms-input-placeholder { @content; }
    &amp;::-webkit-input-placeholder { @content; }
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include input-placeholder {
    color: $grey;
}
</code></pre><h3 id="headlines">Headlines</h3>
<pre><code>@mixin heading {
    color: inherit;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    padding: 0;
}

@mixin h1 {
    @include heading;
    font-size: rem-calc(40);
    @include breakpoint($smallOnly) {
        font-size: rem-calc(30);
    }
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include h1;
</code></pre><h3 id="font-sizes">Font sizes</h3>
<pre><code>$body-font-size: 14
@function rem-calc($pixels, $context: $body-font-size) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }
    @if (unitless($context)) {
        $context: $context * 1px;
    }
    @return $pixels / $context * 1em;
}
</code></pre><p><em>To use:</em></p>
<pre><code>font-size: rem-calc(12)
</code></pre><h3 id="z-indexes">Z Indexes</h3>
<pre><code>$z-index: (
    modal: 200,
    navigation: 100,
    footer: 10,
    header: 50,
    main: 10,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}
@mixin z-index($key) {
    z-index: z-index($key);
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include z-index(header);
</code></pre><h3 id="fades">Fades</h3>
<pre><code>@mixin fade($type) {
    @if $type == &#39;hide&#39; {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    }
    @else if $type == &#39;show&#39; {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}
</code></pre><p><em>To use:</em></p>
<pre><code>@include fade(hide)
@include fade(show)
</code></pre><hr>
<h2 id="extends">Extends</h2>
<h3 id="alignment">Alignment</h3>
<pre><code>// Columns in a flex grid can be aligned horizontal or vertical inside of their parent.
    .middle-all{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .align-middle {
        align-items: center;
    }

    .align-center {
        justify-content: center;
    }

// Columns in a flex grid can be aligned horizontal or vertical individually also
    .align-self-bottom {
        align-self: flex-end;
    }

    .align-self-middle {
        align-self: center;
    }

    .align-self-top {
        align-self: flex-start;
    }

// Elements can be absolutely positioned inside of it&#39;s relative parent
    .horizontal-center {
        position: absolute;
        left: 50%;
        top: auto;
        transform: translatey(-50%);
    }

    .vertical-center {
        position: absolute;
        left: auto;
        top: 50%;
        transform: translatex(-50%);
    }

    .absolute-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</code></pre><p><em>To use:</em></p>
<pre><code>@extend .middle-all
@extend .horizontal-center
@extend .vertical-center
@extend .absolute-center

&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row align-center align-middle&quot;&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-top&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-middle column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-bottom&quot;&gt;column&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h3 id="text-alignment">Text Alignment</h3>
<pre><code>// align texts center
.text-center {
    text-align: center;
}
// .. left
.text-left {
    text-align: left;
}
// .. right
.text-right {
    text-align: right;
}
</code></pre><p><em>To use:</em></p>
<pre><code>&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row align-center align-middle&quot;&gt;
        &lt;div class=&quot;small-12 large-4 columns text-left&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 large-4 column text-right&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 large-4 columns text-center&quot;&gt;column&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><hr>
<h2 id="authors">Authors</h2>
<ul>
<li><strong>Ceryni</strong> - <em>Initial work</em> - <a href="https://github.com/Ceryni173">Ceryni173</a></li>
</ul>
<h2 id="license">License</h2>
<p>This project is licensed under the MIT License - see the <a href="LICENSE.md">LICENSE.md</a> file for details</p>
<h2 id="acknowledgments">Acknowledgments</h2>
<ul>
<li>Inspired by Foundation 6 markup</li>
</ul>

      </body>
    </html>