$grid-gutter-medium: 30px !default;
$grid-gutter-small: 20px !default;
$global-width: 1220px;
$grid-max-width: $global-width + ($grid-gutter-medium * 2) !default;
$grid-columns: 12 !default;

$breakpoint-small: 767px !default;
$breakpoint-medium: 992px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1440px !default;

$breakpoints: (
	'xlarge' '(min-width: ' + $breakpoint-xlarge + ')',
	'large' '(min-width: ' + $breakpoint-medium + ')',
	'medium' '(min-width: ' + ($breakpoint-small + 1) + ') and (max-width:' + ($breakpoint-medium - 1) + ')',
	'small' '(max-width: ' + $breakpoint-small + ')'
) !default;

// create the grid
@mixin create-grid($name) {
	@for $i from 0 through $grid-columns {
		@if $i != 0 {
			.#{$name}-#{$i} {
				flex-basis: percentage($i / $grid-columns)!important;
				max-width: percentage($i / $grid-columns)!important;
			}
		}
		.#{$name}-offset-#{$i} {
			margin-left: percentage($i / $grid-columns)!important;
		}
	}
}

@each $breakpoint in $breakpoints {
	$name: nth($breakpoint, 1);
	$declaration: nth($breakpoint, 2);

	@media #{$declaration} {
		@include create-grid($name);
	}
}

$small : '(max-width: 480px)';
$medium: '(min-width: 768px)';
$medium-portrait: '(max-width: 767px)';
$medium-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$xlarge-desktop: '(min-width: 1440px)';

@mixin mq($media) {
	@media only screen and #{$media} {
		@content;
	}
}
//@mixin mq($small)

.container {
	max-width: $grid-max-width;
	margin: 0 auto;
}

.container,
.container-fluid {
	padding: 0 $grid-gutter-medium;
}

.row {
	display: flex;
	box-sizing: border-box;
	margin-left: -$grid-gutter-medium;
	list-style: none;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	&.collapse {
		margin-left: 0;
	}
	&.reverse {
		flex-direction: row-reverse;
	}
}

.column {
	box-sizing: border-box;
	padding-left: $grid-gutter-medium;
	flex-grow: 1;
	max-width: 100%;
	flex-basis: 0;
	flex: 0 0 auto;
	.collapse & {
		padding-left: 0;
	}
	&.reverse {
		flex-direction: column-reverse;
	}
}


.row {
	background-color: #cccccc;
	.column {
		border: 1px solid #ff0000;
	}
}
