// crayola
$palette: (
	primary: #D0A976,
	primaryText: #ffffff,
	secondary: #A48EA3,
	secondaryText: #ffffff,
	success: #4caf50,
	error: #f44336,
	alert: #ff9800,
	warning: #00bcd4,
	light-grey: #c4c5c5
);

// global
$body-font-size: rem-calc(13);
$body-background: #f8f8f8;
$body-font-color: #666666;
$global-width: 1000px;

// Loaded from Google Fonts in the header
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Open Sans', sans-serif;
