// crayola
$palette: (
	primary: #8eb8ba,
	primaryText: #fcf8f4,
	secondary: #ebc7ba,
	secondaryText: #697280,
	success: #4caf50,
	error: #f44336,
	alert: #ff9800,
	warning: #00bcd4,
	light-grey: #c4c5c5
);

// global
$body-font-size: rem-calc(14);
$body-background: #ffffff;
$body-font-color: #53596C;

// Loaded from Google Fonts in the header
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Open Sans', sans-serif;
