// Header specific styles here
nav{
	ul {
		margin: 0;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: -$medium-space;
		margin-bottom: $medium-space;
		@media #{$small-only}{
			display: none;
		}
		li {
			display: block;
			flex: 0 1 auto;
			list-style-type: none;
			display: inline-flex;
			a:not(.button) {
				text-transform: uppercase;
                font-size: rem-calc(12);
				color: $secondary;
				&:hover,
				&:focus,
				&:active {
					color: $secondary;
					&:after {
						@include pseudo();
						position: absolute;
						bottom: -$small-space;
						border-bottom: 2px solid $body-font-color;
						width: 100%;
						height: 2px;
					}
				}
			}
		}
	}
}
