// site specific (demo purposes only)

main {
	padding: $large-space 0;
}
.button {
	margin-bottom: ($small-space * 2);
}

strong:not(.alone) {
	display: block;
	margin-bottom: $small-space;
}
.grid {
	margin-bottom: $medium-space;
	margin-top: $large-space;
	.row {
		font-size: 11px;
		line-height: 2rem;
		.columns {
			background: #eee;
		}
	}

	.row .columns:nth-child(even)  {
		background: #e1e1e1;
	}
}

.logo {
	width: 100%;
	max-width: 400px;
	margin: $large-space 0;
}


.control {
	margin-top: $small-space;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: $small-space $large-space;
	background-color: #ffffff;
	@include z-index(navigation);
	@media #{$smallOnly}{
		display: none;
	}
	ul {
		margin: 0;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		li {
			display: block;
			flex: 0 1 auto;
			list-style-type: none;
			display: inline-flex;
			a {
				font-size: rem-calc(10);
				text-transform: uppercase;
				&:hover,
				&:focus,
				&:active {
					border-bottom: 2px solid $secondary;
				}
			}
		}
	}
}


p {
	&.fade {
		cursor: pointer;
		+ span {
			color: $secondary;
			font-weight: bold;
			font-size: rem-calc(16);
		}
		&.show {
			+ span {
				@include fade(show);
			}
			&:hover {
				+ span {
					@include fade(hide);
				}
			}
		}
		&.hide {
			+ span {
				@include fade(hide);
			}
			&:hover {
				+ span {
					@include fade(show)
				}
			}
		}
	}
}

input {
	margin-bottom: ($small-space * 2);
}

.showcase {
	background-color: #f9f9f9;
	margin-top: $medium-space;
}

.sandbox  {
	height: 400px;
	position: relative;
	width: 100%;
	display: inline-block;
	background-color: rgba($light, 0.2);
	padding: $medium-space;
	.box {
		height: 100px;
		width: 100px;
		background-color: rgba($primary, 10%);
		color: $primaryText;
		font-size: rem-calc(11);
	}
}
