// site specific (demo purposes only)
main {
	padding: $large-space 0;
}
.button {
	margin-bottom: ($small-space * 2);
}
.notification {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: $small-space $large-space;
	@include z-index(navigation);
	background-color: #323b43;
	border-bottom: 3px solid #222222;
	padding: $small-space;
	text-align: center;
	margin-bottom: ($small-space * 2);
	strong {
		font-weight: normal;
	}
	p {
		color: #ffffff;
		a {
			color: $primary;
		}
	}
	.fa {
		color: #ffffff;
	}
}
strong:not(.alone) {
	display: block;
	margin-bottom: $small-space;
	color: #000000;
}
.grid {
	margin-bottom: $medium-space;
	margin-top: $large-space;
	display: inline-block;
    width: 100%;
	.row {
		font-size: $body-font-size;
		line-height: 2rem;
		.columns {
			background: #eee;
		}
	}
	.row .columns:nth-child(even)  {
		background: #e1e1e1;
	}
}
.logo {
	width: 100%;
	max-width: 400px;
	margin: $medium-space 0 $xlarge-space 0;
}
.control {
	margin-top: $small-space;
}
p {
	&.fade {
		cursor: pointer;
		+ span {
			color: $secondary;
			font-weight: bold;
			font-size: rem-calc(16);
		}
		&.show {
			+ span {
				@include fade(show);
			}
			&:hover {
				+ span {
					@include fade(hide);
				}
			}
		}
		&.hide {
			+ span {
				@include fade(hide);
			}
			&:hover {
				+ span {
					@include fade(show)
				}
			}
		}
	}
}
input {
	margin-bottom: ($small-space * 2);
}
.showcase {
	background-color: #f9f9f9;
	margin-top: $medium-space;
}
.sandbox  {
	height: 400px;
	position: relative;
	width: 100%;
	display: inline-block;
	background-color: $body-background;
	padding: $medium-space;
	.box {
		height: 100px;
		width: 100px;
		background-color: rgba($primary, 10%);
		color: $primaryText;
		font-size: rem-calc(11);
	}
}
.box {
	background-color: #ffffff;
	margin-top: ($xlarge-space / 2);
	padding: $large-space;
	border-radius: ($small-space * 2);
}
.buttons-links {
	strong:last-of-type {
		margin-top: $medium-space;
	}
	a:not(.button){
		.fa {
			width: $medium-space;
			margin-right: ($small-space * 2);
		}
	}
}
footer {
	margin-top: $large-space;
}
