// site specific (demo purposes only)

main {
	padding: $large-space 0;
}
.button {
	margin-bottom: ($small-space * 2);
}

.notification {
	width: calc(100% + 120px);
	background-color: rgba($primary, 0.7);
	border-bottom: 3px solid $primary;
	padding: $small-space;
	text-align: center;
	margin-left: -$large-space;
	margin-right: -$large-space;
	margin-top: -$small-space;
	margin-bottom: ($small-space * 2);
	strong {
		font-weight: normal;
	}
	p {
		color: $body-font-color;
		a {
			color: $body-font-color;
			font-weight: bold;
		}
	}
	.fa {
		color: #ffffff;
	}
}

strong:not(.alone) {
	display: block;
	margin-bottom: $small-space;
}
.grid {
	margin-bottom: $medium-space;
	margin-top: $large-space;
	.row {
		font-size: $body-font-size;
		line-height: 2rem;
		.columns {
			background: #eee;
		}
	}

	.row .columns:nth-child(even)  {
		background: #e1e1e1;
	}
}

.logo {
	width: 100%;
	max-width: 400px;
	margin: 100px 0 $xlarge-space 0;
}


.control {
	margin-top: $small-space;
}


p {
	&.fade {
		cursor: pointer;
		+ span {
			color: $secondary;
			font-weight: bold;
			font-size: rem-calc(16);
		}
		&.show {
			+ span {
				@include fade(show);
			}
			&:hover {
				+ span {
					@include fade(hide);
				}
			}
		}
		&.hide {
			+ span {
				@include fade(hide);
			}
			&:hover {
				+ span {
					@include fade(show)
				}
			}
		}
	}
}

input {
	margin-bottom: ($small-space * 2);
}

.showcase {
	background-color: #f9f9f9;
	margin-top: $medium-space;
}

.sandbox  {
	height: 400px;
	position: relative;
	width: 100%;
	display: inline-block;
	background-color: rgba($light, 0.2);
	padding: $medium-space;
	.box {
		height: 100px;
		width: 100px;
		background-color: rgba($primary, 10%);
		color: $primaryText;
		font-size: rem-calc(11);
	}
}
