// site specific
//
#wrapper {
	padding: $xlarge-space;
	.button {
		margin-bottom: ($small-space * 2);
	}
	.grid {
		margin-bottom: $large-space;
		.row {
			background-color: $light;
			.column {
				border: 1px solid $primary;
			}
		}
	}
}
