// site specific
//

main {
	padding: $large-space 0;
}
.button {
	margin-bottom: ($small-space * 2);
}

strong {
	display: block;
	margin-bottom: $small-space;
}
.grid {
	margin-bottom: $medium-space;
	margin-top: $small-space;
	.row {
        font-size: 11px;
        line-height: 2rem;
        border: solid 1px #c6c6c6;
		.columns {
			background: #eee;
		}
    }

    .row .columns:nth-child(even)  {
        background: #e1e1e1;
    }
}
