// site specific
//

main {
	padding: $large-space 0;
}
.button {
	margin-bottom: ($small-space * 2);
}

strong:not(.alone) {
	display: block;
	margin-bottom: $small-space;
}
.grid {
	margin-bottom: $medium-space;
	margin-top: $large-space;
	.row {
		font-size: 11px;
		line-height: 2rem;
		.columns {
			background: #eee;
		}
	}

	.row .columns:nth-child(even)  {
		background: #e1e1e1;
	}
}

.logo {
	width: 100%;
	max-width: 400px;
	margin: $large-space 0;
}
